.sy_top{ height:36px; background-color:#f6f6f6; border-bottom: solid 2px #f0f0f0;position: relative;z-index:999999;min-width: 1200px;}
.sy_top .base{height:36px;width:1200px;margin:0 auto;padding:0;overflow:visible;}
.sy_top p{ width:517px;float:left; color:#7d7d7d; font-size:12px; line-height:36px; font-family:"Microsoft YaHei",å¾®è½¯é›…é»‘,"Microsoft JhengHei",åŽæ–‡ç»†é»‘,STHeiti,MingLiu;}
.sy_top ul{
    float: right;
    height:19px;
    margin-top:12px;
    margin-right:0px;
    display:inline;
}
.sy_top ul li{ float:left; font:12px "å®‹ä½“"; color:#ff762e; padding:0 10px; border-right:solid 1px #999; list-style-type:none;}
.sy_top ul li a{color:#999; text-decoration:none;}
.sy_top ul li a:hover{ text-decoration:underline;}
.sy_top ul li:nth-child(5) a{
    color:#f00;
}
.sy_topad{
    width:313px;
    height:67px;
    float:right;
    margin-top:10px;
    margin-right:-20px;
}

.sy_menu{ height:39px; background-image:url(/images/student/job/sy_menu_bg.gif);margin-bottom:10px; *margin-bottom:18px!important;}

.sinaweibo{ width:73px; height:24px; margin-top:7px; margin-left:16px;float:right;display:inline;}
.txweibo{width:74px; height:24px; margin-top:9px; margin-left:4px;float:left;overflow:hidden;display:inline;}

.sy_logo{ height:55px; margin:22px  auto 23px auto; }

.sy_logoimg{width:314px; height:47px;position:relative; float:left;}

.call{display:block;float:right;line-height: 38px;height:36px;padding-left:20px;font-size:14px; background: url(/images/index/call_ico.png) no-repeat left 10px;color:#333;position:relative;margin-left: 10px;}
